extends layout

block content
    div.bg-img-home.img-fluid

    div.container.h-75.w-80.text-center.d-flex.align-items-center.justify-content-center.flex-column
        div.container.border.border-3.border-white.bg-light.opacity-50
            h1.display-1.text-dark Adopt or Foster a Cat or Kitten.
            br
            h3.display-3.text-dark Make your life happier, more fun,
            h3.display-3.text-dark  & filled with love by
            h3.display-3.text-dark  adopting a cat.
    