extends layout 

block main-content  
   
   
  #container_box 
      #paragraph
         h1 Introductions about women's jeans 
         
         h2 HIGH SKINNY JEANS
         //- https://www.levi.com/CA/en_CA/clothing/women/jeans/skinny/721-high-rise-skinny-womens-jeans/p/188820554
         img(src="./img/jeans1.png", alt="jeans details")
         p  High-Rise Super Skinny, but a little less skinny at the leg. The same form-flattering fit you love with a figure-hugging 10" rise, they're made with an innovative stretch fabric that still has denim’s authentic look and feel.A high-rise jean that's designed to flatter, hold and liftEmbraces your figure, lengthens your legs and holds your shape perfectlyWith just enough added stretch that hugs your curves but won't bag outMade with fabric from the Candiani Denim Mill in Italy, established in 1938 and known for producing luxurious, innovative textiles and diffrent size avilables  
         strong Price: 100$

         .container_box2
          
         h2 WEDGIE STRAIGHT FIT  JEANS 
         //- https://www.levi.com/CA/en_CA/clothing/women/jeans/straight/wedgie-straight-fit-womens-jeans/p/349640112
         img(src="./img/jeans2.png", alt="jeans details")
         p This jeans is reaching new heights—literally. And while you might be emotionally attached to skinny jeans, there's something about our '70s High Straight Jeans that—despite their nods to a decade known for lava lamps and Pet Rocks—feel incredibly fresh and modern.
         strong  Price: 115$

  

     
  

